html, body, #root, #room {
  height: 100%;
  width: 100%;
  text-align: center;
}

.lights-on {
  background-color: #ffffff;
  color: black;
}

.lights-off {
  background-color: #000000;
  color: white;
}